<div class="password-wrapper">
  <main class="password-body">
    <div class="password-content">
      <h1 class="jc-password-page-title password-page-title page-title">
        {{ 'general.password_page.opening_soon' | t}}
      </h1>

      {% unless shop.password_message == blank %}
        <p class="password-page-message">
          {{ shop.password_message }}
        </p>
      {% endunless %}

      <aside class="password-newsletter-form">
        {% if section.settings.newsletter_title != blank %}
          <h2 class="password-page-subtitle">{{ section.settings.newsletter_title }}</h2>
        {% endif %}

        {% if section.settings.newsletter_text != blank %}
          <div class="jc-password-page-text password-page-text rte">{{ section.settings.newsletter_text }}</div>
        {% endif %}

        {% form 'customer' %}
          {{ form.errors | default_errors }}

          {% if form.posted_successfully? %}
            <p id="jc-form-success" class="form-success">{{ 'general.password_page.signup_form_success' | t }}</p>
          {% else %}
            <input type="hidden" name="contact[tags]" value="prospect, password page">
            <label for="storefront-email" class="input-label input-label-hidden">
              {{ 'general.password_page.signup_form_email_label' | t }}
            </label>
            <div class="input-wrapper inline-input-button-wrapper">
              <input
                type="submit"
                class="button jc-password-submit-btn"
                value="{{ 'general.password_page.signup_form_submit' | t }}">
              <div class="inline-input-wrapper">
                <input
                  id="storefront-email"
                  class="input-field jc-password-input"
                  type="text"
                  name="contact[email]"
                  placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}"
                  data-newsletter-input
                  autofocus>
              </div>
            </div>
          {% endif %}
        {% endform %}
      </aside>

      {% include 'share-buttons' %}

      <div id="jc-password-modal-prompt" class="password-modal-prompt">
        <a class="password-modal-link" href="#" data-password-modal-open>
          {%- include 'icon-lock' -%}
          <span id="jc-password-modal-link">
            {{ 'general.password_page.password_link' | t}}
          </span>
        </a>

        <div class="password-login-form" data-password-modal>
          <h2 class="password-page-subtitle"><label for="storefront-password">{{ 'general.password_page.login_form_heading' | t }}</label></h2>
          <a
            class="password-modal-close"
            href="#"
            data-password-modal-close>
            {{ 'general.general.close' | t }}
          </a>

          {% form 'storefront_password' %}
            {{ form.errors | default_errors }}
            <div class="input-wrapper inline-input-button-wrapper" {% if form.errors %}data-password-has-errors{% endif %}>
              <input
                type="submit"
                class="button"
                value="{{ 'general.password_page.login_form_submit' | t }}">
              <div class="inline-input-wrapper">
                <input
                  id="storefront-password"
                  class="input-field"
                  type="password"
                  name="password"
                  placeholder="{{ 'general.password_page.login_form_password_placeholder' | t }}"
                  data-password-input>
              </div>
            </div>
          {% endform %}

          <p class="password-modal-admin">{{ 'general.password_page.admin_link_html' | t }}</p>
        </div>

      </div>
    </div>
  </main>

  <footer class="password-footer">
    {% include 'footer-copyright' %}
  </footer>
</div>

{% include 'modal', modal_instance: 'password' %}

{% schema %}
{
  "name": "Password page",
  "class": "section-password",
  "settings": [
    {
      "type": "header",
      "content": "Newsletter"
    },
    {
      "id": "newsletter_title",
      "type": "text",
      "label": "Heading",
      "default": "Find out when we open:"
    },
    {
      "id": "newsletter_text",
      "type": "richtext",
      "label": "Text"
    }
  ]
}

{% endschema %}